html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/*搜索框*/
.searchbox{
    text-align: center;
    margin: 10px auto;
}
input{
    font-size: 30px;
    box-sizing: border-box;
    margin: 1px auto;
   
}
input[type="text"]{
    background-color: rgb(253, 244, 224);
    width: 340px;
    height: 50px;
    padding: 0 25px;
    left: -5px;
    border-color: rgb(7, 7, 7);
    border: 1;
    
}
input[type="submit"]{
    left: -5px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background: rgb(238, 72, 72);
    color: rgb(5, 1, 1);
}
input[type="submit"]:hover{
    background: rgb(216, 35, 35);
}

/*侧边栏*/
#sidemenu{
    display: none;
}

#sidemenu:checked + aside {
    /*为被选中的sidemenu后的aside设置属性（紧邻）*/
    left: 0;
    /*点击按钮即选中checked后,侧边栏位置变为贴着左边,配合ease-out使用,有渐变滑出的效果*/
}

#sidemenu:checked ~ #wrap {
    /*为被选中的sidemenu后的wrap设置属性（非紧邻）*/
    padding-left: 220px;
}

aside {
    /*侧边栏,初始位置为-200px，即隐藏效果*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: -200px;
    width: 200px;
    background: rgb(138, 92, 40,0.5);
    transition: 0.2s ease-out;
    /*动画效果的执行方式是ease-out，即侧边栏滑动效果为渐变式，而不是生硬的突然变化*/
    z-index: 10;
}

h2 {
    color: white;
    text-align: center;
    font-size: 2em;
}

/*控制侧边栏进出的按钮（外部包裹）*/
#wrap {
    margin-left: 20px;
    padding: 10px;
    transition: 0.2s ease-out;
}

/*控制侧边栏进出的按钮（内部文字样式）*/
label {
    /*控制侧边栏进出的按钮*/
    background: rgb(206, 186, 186);
    border-radius: 70px;
    color: rgb(126, 87, 14);
    cursor: pointer;
    display: block;
    font-family: Courier New;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    display: inline-block;
    left: 0;

}
label:hover {
    background: rgb(5, 5, 5);
}

#sideul li {
    list-style: none;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 1.8em;
    font-size: 1.5em;
    text-align: center;
}

a {
    text-decoration: none;
}

#sideul li:hover {
    color: rgb(16, 17, 14,0.8);
}






#line{
	width: 100%;
	height: 5px;
	background: red;
	border: 1px solid red;
}
.context{
	position: relative;
	float: left;
	width: 76%;
	margin: 0 12%;
}
.context div{
	position: relative;
	float: left;
	/* border: 1px solid black; */
}
.context .memu{
	width: 20%;
	height: 600px;
	background: whitesmoke;
}

.context .memu ul>li{
	list-style: none;
	line-height: 38px;
	font-family: 楷体;
	font-size: 20px;
	cursor: pointer;
}
.context .memu ul li:first-child{
	color: red;
	font-size: 25px;
}
.context .detail{
	width: 75%;
	/* height: 800px; */
}
 .detail_head{
	position: relative;
	float: left;
	width: 100%;
	height: 30px;
	background: rgb(250, 228, 228);
	font-size: 22px;
	font-family:楷体;
}
.context .detail .shopping_cart{
	position: relative;
	float: left;
	width: 100%;	
}
.context .detail .shopping_cart .table_head{
	position: relative;
	float: left;
	width: 100%;
	height: 40px;
}
.context .detail .shopping_cart .table_head>div{
	position: relative;
	float: left;
	margin: 5px 0 0 10px;
	border: 0;
}
.context .detail .shopping_cart .table_head div:first-child{
	width: 10px;
	height: 10px;
	margin: 10px 0 0 10px;
	border: 1px solid grey;
}
.context .detail .shopping_cart .table_head div:first-child img{
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
}
.context .detail .shopping_cart .table_head div:nth-child(3){
	width: 45%;
	margin-left: 50px;
}
.context .detail .shopping_cart .table_head div:nth-child(4){
	width: 10%;
}
.context .detail .shopping_cart .table_head div:nth-child(5){
	width: 10%;
}
.context .detail .shopping_cart .table_head div:nth-child(6){
	width: 10%;
}
/* 商品 */
.context .commodity{
	position: relative;
	float: left;
	width: 100%;
	height: 150px;
	margin: 10px 0 0 0 ;
}
.context .commodity>div{
	position: relative;
	float: left;
	margin: 5px 0 0 5px;
}
.context .commodity>div:first-child{
	width: 10px;
	height: 10px;
	margin: 10px 0 0 10px;
	border: 1px solid gray;
}
.context .commodity>div:first-child img{
	width: 100%;
	height: 100%;
	display: block;
}
.context .commodity>div:nth-child(2){
	width: 52%;
	height: 95%;
}
.context .commodity>div:nth-child(2) .picture{
	position: relative;
	float: left;
	width: 30%;
	height: 95%;
}
.context .commodity>div:nth-child(2) .picture img{
	width: 100%;
	height: 100%;
}
.context .commodity>div:nth-child(2) .descride{
	position: relative;
	float: left;
	width: 70%;
	height: 95%;
	font-size: 16px;
	font-family: 楷体;
}
.context .commodity>div:nth-child(2) .descride .book_descride{
	font-size: 13px;
}
.context .commodity>div:nth-child(3){
	width: 12%;
	height: 95%;
}
.context .commodity>div:nth-child(3) span:first-child{
	position: relative;
	float: left;
	margin-top: 35px;
	font-size: 25px;
	font-family: 隶书;
	color: rgb(167, 34, 34);
}
.context .commodity>div:nth-child(3) span:last-child{
	position: relative;
	float: left;
	margin-top: 25px;
	font-size: 18px;
	color: #808080;
	font-family: 楷体;
	text-decoration: line-through;
}
.context .commodity>div:nth-child(4){
	width: 10%;
	height: 95%;
}
.context .commodity>div:nth-child(4) div{
	border: 0;
}
.context .commodity>div:nth-child(4)>div{
	position: relative;
	width: 70px;
	top: 45px;
	left: 5px;
	border: 2px solid whitesmoke;
}
.context .commodity>div:nth-child(4)>div>div{
	position: relative;
	left: 50px;
	width: 20px;
	height: 40px;
	background: whitesmoke;
}
.context .commodity>div:nth-child(4)>div>div>div{
	position: relative;
	width: 100%;
	height: 50%;
}
.context .commodity>div:nth-child(4)>div>div img{
	width: 90%;
	height: 100%;
}
.context .commodity>div:nth-child(4) input{
	width: 40px;
	height: 38px;
	border: 0;
	outline-style: none;
	font-size: 20px;
}
/* 去掉number的默认上下箭头 谷歌浏览器*/
.context .commodity>div:nth-child(4) input::-webkit-outer-spin-button,
.context .commodity>div:nth-child(4) input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
}
/* 火狐浏览器 */
.context .commodity>div:nth-child(4) input{
	-moz-appearance: textfield;
}
.context .commodity>div:nth-child(5){
	width: 10%;
	height: 95%;
	font-family: 隶书;
	font-size: 25px;
	color: red;
}
.context .commodity>div:nth-child(5) span{
	position: relative;
	float: left;
	top: 50px;
}
.context .commodity>div:nth-child(6){
	width: 10%;
	height: 95%;
}
.context .commodity>div:nth-child(6) span{
	position: relative;
	float: left;
	color: #6495ED;
	margin: 15px 25px;
	cursor: pointer;
}
.context .commodity>div:nth-child(6) span:first-child{
	top: 22px;
}
