<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/detail.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/web_js_Commodity_detail.js"></script>
</head>
<body>
    <div class="searchbox">
        <form action="">
            <input type="text" name="" placeholder="搜索">
            <input type="submit" name=""  value="search">
        </form>
      </div>


      <div class="bg"></div>
      <input type='checkbox' id='sidemenu'>
      <aside>
          <h2>主菜单</h2>
          <br />
          <ul id="sideul" class="nav">
              <a href="/user/homeHtml">
                  <li  style="color: orange;">首页</li>
              </a>
              <a href="/user/listHtml">
                  <li>书库</li>
              </a>
              <a href="">
                <li>购物车</li>
            </a>
              <a href="/user/loginHtml">
                  <li>登出</li>
              </a >
             
          </ul>
      </aside>
      <div id='wrap'>
          <label id='sideMenuControl' for='sidemenu'>≡</label>
          <!--for 属性规定 label 与哪个表单元素绑定，即将这个控制侧边栏进出的按钮与checkbox绑定-->
      </div>
  










    <div id="line"></div>
    <div id="division">商品详情</div>
    <div id="line"></div>
    <div class="context">
        <div class="photo">
            <div class="big_photo"><img src="/img/xiyouji.jpg" ></div>
            <div class="small_photo"><img src="/img/xiyouji.jpg"></div>
            <div class="small_photo"><img src="/img/1.jpg"></div>
            <div class="small_photo"><img src="/img/1.jpg"></div>
            <div class="small_photo"><img src="/img/1.jpg"></div>
            <div class="small_photo"><img src="/img/1.jpg"></div>
        </div>
        <div class="news">
            <div class="book_name">
                西游记
            </div>
            <div class="descride">
                <p>当当网此版本销量靠前！(公版书)中小学新课标书目，四大名著之一，经典原著权威改编，
                无障碍轻松阅读，中国古代首部浪漫主义长篇神魔小说，刻画了神魔情怀与人性百态，青少年必读！</p>
            </div>
            <div class="publish_news">
                <div class="autor">
                    作者：<a href="JavaScript:;">吴承恩</a>
                </div>
                <div class="publish_company">
                    出版社：<a href="javascript:;">浙江教育出版社</a>
                </div>
            </div>
            <div class="price">
                <span>￥ 27.90</span>
            </div>
            <div class="buy_news">
                <div>
                    <input type="number" name="" id="" value="1" />
                    <div>
                        <div><img src="/img/web_img_加号.png" ></div>
                        <div><img src="/img/web_img_减号.png" ></div>
                    </div>
                </div>
                <div>
                    加入购物车
                </div>
            </div>
        </div>

    </div>


    
</body>
</html>