<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/detail.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/web_js_Commodity_detail.js"></script>
</head>
<body>
    <div class="searchbox">
        <form action="">
            <input type="text" name="" placeholder="搜索">
            <input type="submit" name=""  value="search">
        </form>
      </div>


      <div class="bg"></div>
      <input type='checkbox' id='sidemenu'>
      <aside>
          <h2>主菜单</h2>
          <br />
          <ul id="sideul" class="nav">
              <a href="/user/homeHtml">
                  <li  style="color: orange;">首页</li>
              </a>
              <a href="/user/listHtml">
                  <li>书库</li>
              </a>
              <a href="">
                <li>购物车</li>
            </a>
              <a href="/user/loginHtml">
                  <li>登出</li>
              </a >
             
          </ul>
      </aside>
      <div id='wrap'>
          <label id='sideMenuControl' for='sidemenu'>≡</label>
          <!--for 属性规定 label 与哪个表单元素绑定，即将这个控制侧边栏进出的按钮与checkbox绑定-->
      </div>
  










    <div id="line"></div>
    <div id="division">商品详情</div>
    <div id="line"></div>
    <div class="context">
        <div class="photo">
            <div class="big_photo"><img src="/img/wssd.jpg" ></div>
            <div class="small_photo"><img src="/img/wssd.jpg"></div>
            <div class="small_photo"><img src="/img/1.jpg"></div>
            <div class="small_photo"><img src="/img/1.jpg"></div>
            <div class="small_photo"><img src="/img/1.jpg"></div>
            <div class="small_photo"><img src="/img/1.jpg"></div>
        </div>
        <div class="news">
            <div class="book_name">
                无上神帝
            </div>
            <div class="descride">
                <p>这一部部题材不同、风格各异的文学小经典，构成了一个色彩缤纷、悲欢离合的小世界，
                    一代代小读者在其中阅读、生活、呼吸和成长。。</p>
            </div>
            <div class="publish_news">
                <div class="autor">
                    作者：<a href="JavaScript:;">蜗牛狂奔</a>
                </div>
                <div class="publish_company">
                    出版社：<a href="javascript:;">起点</a>
                </div>
            </div>
            <div class="price">
                <span>￥30.90</span>
            </div>
            <div class="buy_news">
                <div>
                    <input type="number" name="" id="" value="1" />
                    <div>
                        <div><img src="/img/web_img_加号.png" ></div>
                        <div><img src="/img/web_img_减号.png" ></div>
                    </div>
                </div>
                <div>
                    加入购物车
                </div>
            </div>
        </div>

    </div>


    
</body>
</html>